/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.directory
_ide_helper.php
/docs/source/locale/*/LC_MESSAGES/*.mo